ZohoSprint.json
{
  "name": "ZohoSprint",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -576
      ],
      "id": "85a5a202-80bf-4eef-8dd1-a17f0df32278",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.action_items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        752,
        -576
      ],
      "id": "e41ffdb8-bdef-4301-9a13-7caf5cc913c3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"action_items\": [\n    {\n      \"title\": \"Finalize dashboard UI\",\n      \"description\": \"Design team to finalize the dashboard UI by end of week\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        -352
      ],
      "id": "2380d2c9-6a45-40d1-ae73-801552488deb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"department\": \"string\",\n  \"item_type\": \"string\",\n  \"priority\": \"string\",\n  \"description\":\"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1152,
        -352
      ],
      "id": "7ec27c21-bf10-4bf6-b86f-09b22a15923b",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10205f2c-600a-4fdc-9a9f-88e9f5c5ce7c",
              "name": "meeting_id",
              "value": "mock-meeting-001",
              "type": "string"
            },
            {
              "id": "c221d386-b0db-4b65-9b41-5cd10fea885b",
              "name": "meeting_title",
              "value": "Weekly Operations Sync",
              "type": "string"
            },
            {
              "id": "45a73ab7-0c6d-435a-a1c9-aca571cd3052",
              "name": "full_transcript",
              "value": "The meeting started with a discussion on the overall progress of the dashboard revamp.\nThe design team mentioned that the new UI direction is mostly finalized, but some feedback\nfrom stakeholders is still pending.\n\nJohn pointed out that the dashboard needs to be visually consistent with the mobile app.\nThere was a brief discussion on whether dark mode should be supported in this release,\nbut no final decision was made.\n\nSarah from procurement raised concerns about delays from the current raw material supplier.\nShe suggested that alternative vendors should be evaluated if delivery timelines slip again.\n\nIt was agreed that the design team will finalize the dashboard UI by the end of this week.\nProcurement needs to place an order for raw materials required for production batch 24\nno later than Friday to avoid delays.\n\nThe production team confirmed that machine availability looks good for next week.\nThey will schedule the production run once raw materials are confirmed.\n\nThere was also a general discussion about improving cross-team communication,\nbut no specific tasks were assigned for that topic.\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -576
      ],
      "id": "7ff4e3da-da0c-4ee7-a52f-ae428f75fb1e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1️⃣ classification output (current item)\nconst cls = $json.output;\n\n// 2️⃣ get the CORRECT action item using item index\nconst actionItem = $items(\"Split Out\")[$itemIndex].json;\n\n// project ID mapping (Zoho Sprints)\nlet projectId;\nlet sprintId;\n\nif (cls.department === \"design\") {\n  projectId = \"36541000000012002\"; \n  sprintId=\"36541000000012009\";// Design project ID\n} else if (cls.department === \"procurement\") {\n  projectId = \"36541000000012059\";  \n  sprintId=\"36541000000012066\";// Procurement project ID\n} else if (cls.department === \"production\") {\n  projectId = \"36541000000012116\";  \n  sprintId=\"36541000000012123\";// Production project ID\n} else {\n  projectId = \"\";  \n// Fallback / Ops project\n}\n\n\nreturn {\n  title: actionItem.title,\n  description: actionItem.description,\n  department: cls.department,\n  item_type: cls.item_type,\n  priority: cls.priority,\n  project_id: projectId,\n  sprint_id: sprintId\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -576
      ],
      "id": "85629627-e399-44a8-b678-ac10fb099ce0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an operations assistant.\n\nYour task is to read a meeting transcript and extract ONLY clear action items.\nIgnore discussions, opinions, ideas, and unresolved topics.\n\nTranscript:\n\"{{ $json.full_transcript }}\"\n\n\nRules:\n- Only include tasks that require someone to DO something\n- Rewrite tasks to be clear and actionable\\n- Do not invent tasks\n- If no action items exist, return an empty array\n\nReturn ONLY valid JSON in this format:\n{\n  \"action_items\": \n  [\n    { \n      \"title\": \"Short task title\",\n      \"description\": \"Clear execution-ready description\"\n    }\n  ]\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        -576
      ],
      "id": "1207de2a-f912-40fe-b1c5-c79b09b1f0f0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        -352
      ],
      "id": "886e5468-6e68-4317-aa00-98dfb3ca9365",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fl6sxvn5M1m7Za9O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a workflow classification engine.\n\nGiven an action item, determine:\n1. department: one of [design, procurement, production]\n2. item_type: one of [task, story, bug]\n3. priority: one of [high, medium, low, none]\n4. return the description as it is {{ $json.description }}\n\nRules:\n- UI / UX / dashboard → design\n- vendors / purchase / raw materials → procurement\n- manufacturing / production run → production\n\nRespond ONLY in JSON.\n\n\nRespond ONLY in JSON.\nINPUT\n========================\nTitle:\n{{ $json.title }}\n\nDescription:\n{{ $json.description }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        992,
        -576
      ],
      "id": "b625ec2a-9d01-4705-b1ed-9fca0c5b5867",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        -352
      ],
      "id": "bf9c4d21-68b9-4561-94e2-1f204d65a3b7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fl6sxvn5M1m7Za9O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"description\": \"string\",\n  \"department\": \"string\",\n  \"item_type\": \"string\",\n  \"item_type_id\": \"number\",\n  \"priority\": \"string\",\n  \"priority_id\": \"number\",\n  \"project_id\": \"number\",\n  \"sprint_id\": \"number\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2224,
        -192
      ],
      "id": "b5a45367-8acc-440c-8347-43edd3932712",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an automation assistant inside an n8n workflow.\n\nYou are provided with the following fields (user input):\n- item_type:{{ $json.item_type }}\n- priority:{{ $json.priority }}\n- title:{{ $json.title }}\n- description:{{ $json.description }}\n- department:{{ $json.department }}\n- project_id:{{ $json.project_id }}\n- sprint_id:{{ $json.sprint_id }}\n\nYour task is to resolve system IDs for:\n1. Item Type\n2. Priority\n\n### Rules\n1. Read the value of `item_type` from the input.\n2. Call the tool \"Get Item Type ID\" and extract the ID corresponding to the item_type.\n3. Store the returned value as `item_type_id`.\n\n4. Read the value of `priority` from the input.\n5. Call the tool \"Get Priority ID\" and extract the ID corresponding to the priority.\n6. Store the returned value as `priority_id`.\n\n### Constraints\n- Do NOT guess or hardcode IDs.\n- Always use the tools to fetch IDs.\n\n### Final Output\nRespond only in JSON.\nReturn ONLY valid JSON. Do not include explanations or extra text.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1936,
        -368
      ],
      "id": "61b930bb-c799-488e-978c-d37c00996844",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1792,
        -192
      ],
      "id": "82cbed64-8ba3-45d9-a0a4-fa9a2542df73",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "fl6sxvn5M1m7Za9O",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the required item type id.",
        "url": "=https://sprintsapi.zoho.in/zsapi/team/60064645923/projects/{{ $json.project_id }}/itemtype/?action=data&index=1&range=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1952,
        -192
      ],
      "id": "2fcdead7-9eb2-4c9a-8691-0a9f62922a7e",
      "name": "Get Item Type ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PEWzjvGacsfrIu7B",
          "name": "Sprint"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the required priority id.",
        "url": "=https://sprintsapi.zoho.in/zsapi/team/60064645923/projects/{{ $json.project_id }}/priority/?action=data&index=1&range=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2080,
        -192
      ],
      "id": "2e73d51c-aaf2-4b72-86e5-bab56cb6ce91",
      "name": "Get Priority ID",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PEWzjvGacsfrIu7B",
          "name": "Sprint"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sprintsapi.zoho.in/zsapi/team/60064645923/projects/{{ $json.output.project_id }}/sprints/{{ $json.output.sprint_id }}/item/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.output.title }}"
            },
            {
              "name": "projitemtypeid",
              "value": "={{ $json.output.item_type_id }}"
            },
            {
              "name": "projpriorityid",
              "value": "={{ $json.output.priority_id }}"
            },
            {
              "name": "description",
              "value": "={{ $json.output.description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        -192
      ],
      "id": "15e119c2-2c3b-43cf-80d5-6d3d3fb3d415",
      "name": "worked!3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PEWzjvGacsfrIu7B",
          "name": "Sprint"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1568,
        -576
      ],
      "id": "c8eb6dfd-8cc3-4e09-aba5-817b9b6c5233",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Item Type ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Priority ID": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "worked!3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "worked!3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "497bc577-cf12-4528-9f9e-1d51cd02d42f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00e2d86f18476fa48a0bbe70e4f34123227f25798f2099883f45d509f13b7aa9"
  },
  "id": "8QvgsSykoRAov6GD",
  "tags": []
}